---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Mixins
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css";

body{
    background-color: #fafafa;
}

.top-image{
    background-image: url(https://source.unsplash.com/collection/168902/1920x1080);
    background-position: center center;
    background-size: scale;
    width: 100%;
    height: 200px;
    filter: grayscale(100%) contrast(200%) brightness(200%);
    line-height: 200px;
    vertical-align: middle;
    span.heading {
        padding: 0 15px;
        margin: 0;
        vertical-align: middle;
        background-color: #fff;
        width:auto;
        font-size:4rem;
        font-weight:bold;
        letter-spacing:-5px;
        text-transform: uppercase;        
    }    
}

footer{
    
}
