---
  titles: []
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
      
      <main class="mdl-layout__content">
        <div class="top-image mdl-shadow--2dp">
            <span class="heading">{{ page.title }}</span>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
      </main>     
    </div>
  </body>
</html>
